@font-face {
  font-family: 'eva-icon';
  src:  url('../fonts/eva-icon.eot?tx932a');
  src:  url('../fonts/eva-icon.eot?tx932a#iefix') format('embedded-opentype'),
    url('../fonts/eva-icon.ttf?tx932a') format('truetype'),
    url('../fonts/eva-icon.woff?tx932a') format('woff'),
    url('../fonts/eva-icon.svg?tx932a#eva-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-eva-"], [class*=" icon-eva-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eva-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eva-NERV:before {
  content: "\e90f";
}
.icon-eva-初号机:before {
  content: "\e910";
}
.icon-eva-零号机:before {
  content: "\e911";
}
.icon-eva-二号机:before {
  content: "\e912";
}
.icon-eva-亚当:before {
  content: "\e913";
}
.icon-eva-莉莉丝:before {
  content: "\e914";
}
.icon-eva-水天使:before {
  content: "\e90e";
}
.icon-eva-昼天使:before {
  content: "\e90d";
}
.icon-eva-雷天使:before {
  content: "\e90c";
}
.icon-eva-鱼天使:before {
  content: "\e902";
}
.icon-eva-音乐天使:before {
  content: "\e90b";
}
.icon-eva-胎天使:before {
  content: "\e90a";
}
.icon-eva-雨天使:before {
  content: "\e909";
}
.icon-eva-空天使:before {
  content: "\e901";
}
.icon-eva-恐怖天使:before {
  content: "\e908";
}
.icon-eva-夜天使:before {
  content: "\e907";
}
.icon-eva-霞天使:before {
  content: "\e906";
}
.icon-eva-力天使:before {
  content: "\e900";
}
.icon-eva-鸟天使:before {
  content: "\e905";
}
.icon-eva-子宫天使:before {
  content: "\e904";
}
.icon-eva-自由天使:before {
  content: "\e903";
}

