@font-face {
  font-family: 'EVA-Icon';
  src:  url('../fonts/eva-icon.eot?zh8e8a');
  src:  url('../fonts/eva-icon.eot?zh8e8a#iefix') format('embedded-opentype'),
    url('../fonts/eva-icon.ttf?zh8e8a') format('truetype'),
    url('../fonts/eva-icon.woff?zh8e8a') format('woff'),
    url('../fonts/eva-icon.svg?zh8e8a#EVA-Icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'EVA-Icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nerv:before {
  content: "\e90f";
}
.icon-eva-00:before {
  content: "\e911";
}
.icon-eva-01:before {
  content: "\e910";
}
.icon-eva-02:before {
  content: "\e912";
}
.icon-adam:before {
  content: "\e913";
}
.icon-lilith:before {
  content: "\e914";
}
.icon-sachiel:before {
  content: "\e90e";
}
.icon-shamshel:before {
  content: "\e90d";
}
.icon-ramiel:before {
  content: "\e90c";
}
.icon-gaghiel:before {
  content: "\e902";
}
.icon-israfel:before {
  content: "\e90b";
}
.icon-sandalphon:before {
  content: "\e90a";
}
.icon-matriel:before {
  content: "\e909";
}
.icon-sahaquiel:before {
  content: "\e901";
}
.icon-ireul:before {
  content: "\e908";
}
.icon-leliel:before {
  content: "\e907";
}
.icon-bardiel:before {
  content: "\e906";
}
.icon-zeruel:before {
  content: "\e900";
}
.icon-arael:before {
  content: "\e905";
}
.icon-almisael:before {
  content: "\e904";
}
.icon-tabris:before {
  content: "\e903";
}

