$icomoon-font-path: "fonts" !default;

$icon-nerv: "\e90f";
$icon-eva-00: "\e911";
$icon-eva-01: "\e910";
$icon-eva-02: "\e912";
$icon-adam: "\e913";
$icon-lilith: "\e914";
$icon-sachiel: "\e90e";
$icon-shamshel: "\e90d";
$icon-ramiel: "\e90c";
$icon-gaghiel: "\e902";
$icon-israfel: "\e90b";
$icon-sandalphon: "\e90a";
$icon-matriel: "\e909";
$icon-sahaquiel: "\e901";
$icon-ireul: "\e908";
$icon-leliel: "\e907";
$icon-bardiel: "\e906";
$icon-zeruel: "\e900";
$icon-arael: "\e905";
$icon-almisael: "\e904";
$icon-tabris: "\e903";

